* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #fff;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    background-image: linear-gradient(to top,#fff 0%,#e0dcdc 110%);
    font-size: 1.25rem;
    height: 80px;
    width: 100%;
    z-index: 999;
    top: 0;
    position: sticky;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1700px;
    align-items: center;
    margin: 0 auto;
    padding: 0 50px;
}


#navbar-logo {
    width: 125px;
    cursor: pointer;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;

}

.nav-items {
    height: 30px;
}


.navbar-links {
    color: #6b705c;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 227px;
    text-decoration: none;
    transition: all 0.5s ease;

}

.navbar-links:hover {
    color: rgb(68, 68, 68);
}

#advanced-search-label {
    color: #d93025;
}

.header1 {
    color: #535748;
    margin-left: 50px;
    padding: 25px 0;
}

.header2 {
    color: #535748;
    font-size: 18px;
}

.body-container {
    color: #535748;
    width: 1000px;
    font-size: 15px;
    margin: 45px 2% 0 45px;

}

.line {
    border-bottom: 1px solid #d1d1d1;
    margin-left: 0;
}

#spacing {
    display: inline-block;
    min-width: 300px;
    vertical-align: middle;
}

.layers {
    display: flex;
    margin: 20px 0;
    
}

.text-box:not(.text-box-range)  {
    max-width: 651.5px;
}

.text-box-range {
    max-width: 310.5px;
}

.text-box {
    border-radius: 5px;
    border: 1px solid grey;
    padding: 6px 10px;
    background: #d8e2dc;
    background-image: linear-gradient(to bottom, #d8e2dc, #fff 10%);
}

.first-box {
    min-width: 210px;

}

.second-box {
    min-width: 700px;
}

.third-box {
    min-width: 350px;
    font-size: 11px;
}

input[type="text"], select {
    width: 100%;
}

.buttons {
    display: flex;
    position: relative;
    left: 780px;
    color: #fff;
    padding: 4px 15px;
    margin: 7px;
    border: 1px solid #3079ed;
    border-radius: 5px;
    background: #4d90fe;
    cursor: pointer;
}

.buttons:hover {
    background: #649af0;
    border: 1px solid #4b89ec;
}
